<a href="https://colab.research.google.com/github/AVI18794/NLP/blob/master/TSM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The given problem statement is a route optimization problem and there are several ways of solving this problem. This can be solved using distance metrics(calculation of distance like great circle,geodesic distance calculation, euclidean distance calculation or , or complex algorithms like A* search algorithms genetic programming etc.
I have used a simple approach of grpah  theory   and calculated  the geodesic distance.
Maybe there are better optimization algorithms which optimizes this problem very accurately.
My approach to this problem is very simple quite easy to understand.

In [0]:
#Import all the required libraries
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [0]:
#Read the data 
trucks = pd.read_csv("/content/drive/My Drive/trucks.csv")
cargos = pd.read_csv("/content/drive/My Drive/cargo.csv")

In [0]:
trucks.head()

                                     truck        city  ...        lat         lng
0             Hartford Plastics Incartford    Florence  ...  34.799810  -87.677251
1  Beyond Landscape & Design Llcilsonville     Fremont  ...  37.548270 -121.988572
2                Empire Of Dirt Llcquality     Hampden  ...  44.744542  -68.837044
3   James Haas Al Haas Shelly Haasairfield  North East  ...  39.600113  -75.941333
4                Ibrahim Chimandalpharetta      Toledo  ...  41.663938  -83.555212

[5 rows x 5 columns]

In [0]:
cargos.head()

       product     origin_city  ... destination_lat  destination_lng
0  Light bulbs        Sikeston  ...       32.934292       -97.078065
1  Recyclables  Christiansburg  ...       28.693408       -81.532215
2       Apples        Columbus  ...       38.678516      -121.773297
3         Wood          Hebron  ...       29.966037       -90.153130
4  Cell phones         Hickory  ...       43.670399      -121.503636

[5 rows x 9 columns]

In [0]:
#Drop the columns which are of no use
cargos.drop(['product'],inplace=True,axis=1)

In [0]:
cargos.head()

      origin_city origin_state  ...  destination_lat  destination_lng
0        Sikeston           MO  ...        32.934292       -97.078065
1  Christiansburg           VA  ...        28.693408       -81.532215
2        Columbus           OH  ...        38.678516      -121.773297
3          Hebron           KY  ...        29.966037       -90.153130
4         Hickory           NC  ...        43.670399      -121.503636

[5 rows x 8 columns]

In [0]:
trucks.head()

                                     truck        city  ...        lat         lng
0             Hartford Plastics Incartford    Florence  ...  34.799810  -87.677251
1  Beyond Landscape & Design Llcilsonville     Fremont  ...  37.548270 -121.988572
2                Empire Of Dirt Llcquality     Hampden  ...  44.744542  -68.837044
3   James Haas Al Haas Shelly Haasairfield  North East  ...  39.600113  -75.941333
4                Ibrahim Chimandalpharetta      Toledo  ...  41.663938  -83.555212

[5 rows x 5 columns]

In [0]:
# trucks1 =trucks.drop(['state'],axis=1)
# #Dropping the state column as its not needed.
# trucks1.rename(columns = {'truck':'truck','city':'truck_city','lat':'truck_lat','lng':'truck_lng'}, inplace = True)
# trucks1.head()

In [0]:
#View the cargo details
cargos1 = cargos.drop(['origin_state','destination_state'],axis=1)
cargos1

      origin_city  origin_lat  ...  destination_lat destination_lng
0        Sikeston   36.876719  ...        32.934292      -97.078065
1  Christiansburg   37.129852  ...        28.693408      -81.532215
2        Columbus   39.961176  ...        38.678516     -121.773297
3          Hebron   39.066147  ...        29.966037      -90.153130
4         Hickory   35.734454  ...        43.670399     -121.503636
5      Northfield   44.458298  ...        42.363633      -87.844794
6    Fort Madison   40.629763  ...        41.345589      -88.842577

[7 rows x 6 columns]

In [0]:
#Combine the cargo and truck details 
# trucks1['truck_city'][:10]

In [0]:
# cargos1['origin_city']

In [0]:
# cargos1['destination_city']

In [0]:
# truck_state = set(trucks['state'].to_list())

In [0]:
# cargo_origin_state = set(cargos['origin_state'].to_list())

In [0]:
# #Check if the truck state is in cargo origin state
# truck_state.intersection(cargo_origin_state)

In [0]:
# #Select the trucks from those states where the cargo origin state is same
# cargo_origin_states= cargos['origin_state']
# # cargo_origin_states
# cargos['origin_state'].tolist()
# # trucks['presence'] =trucks['state'].isin(cargos['origin_state'].tolist())
# # trucks

In [0]:
#Get the data of the truck state and cargo origin state (it signifies that both cargo and trucks are there in the same state discard the rest of the data)

In [0]:
trucks['presence'] =trucks['state'].isin(cargos['origin_state'].tolist())
trucks[:10]

                                     truck           city  ...         lng  presence
0             Hartford Plastics Incartford       Florence  ...  -87.677251     False
1  Beyond Landscape & Design Llcilsonville        Fremont  ... -121.988572     False
2                Empire Of Dirt Llcquality        Hampden  ...  -68.837044     False
3   James Haas Al Haas Shelly Haasairfield     North East  ...  -75.941333     False
4                Ibrahim Chimandalpharetta         Toledo  ...  -83.555212      True
5              John Bianchiake Havasu City         Renton  ... -122.217066     False
6               Macomb Iron Llchesterfield      Cleveland  ...  -81.694361      True
7                  Robert Robertsonairhope      Green Bay  ...  -88.019826     False
8       Viking Products Of Austin Incustin  Fort Campbell  ...  -87.477390     False
9                      Arachus Incashville      Bethlehem  ...  -75.370458     False

[10 rows x 6 columns]

In [0]:
common_state_truck_cargo = trucks[trucks['presence']==True]
final_trucks = common_state_truck_cargo
final_trucks

                             truck          city  ...        lng  presence
4        Ibrahim Chimandalpharetta        Toledo  ... -83.555212      True
6       Macomb Iron Llchesterfield     Cleveland  ... -81.694361      True
16  Paul J Krez Companyorton Grove   Forest City  ... -81.865103      True
24         Ricardo Juradoacramento    Covesville  ... -78.704740      True
27    Kjellberg'S Carpet Oneuffalo  Mount Vernon  ... -82.485718      True
37       Efrain Morales Diazorwalk    Marshfield  ... -92.907121      True

[6 rows x 6 columns]

In [0]:
#Just print the data
cargos

      origin_city origin_state  ...  destination_lat  destination_lng
0        Sikeston           MO  ...        32.934292       -97.078065
1  Christiansburg           VA  ...        28.693408       -81.532215
2        Columbus           OH  ...        38.678516      -121.773297
3          Hebron           KY  ...        29.966037       -90.153130
4         Hickory           NC  ...        43.670399      -121.503636
5      Northfield           MN  ...        42.363633       -87.844794
6    Fort Madison           IA  ...        41.345589       -88.842577

[7 rows x 8 columns]

In [0]:
#Extracting the cargo dataset where the origin state is same as truck's state name and discarding the rest of the dataset
cargos['presence'] = cargos['origin_state'].isin(trucks['state'])
common_state_truck_cargo1 = cargos[cargos['presence']==True]
final_cargo = common_state_truck_cargo1

In [0]:
#So our delivery is from these 4 source to the destination addresses.
final_cargo

      origin_city origin_state  ...  destination_lng  presence
0        Sikeston           MO  ...       -97.078065      True
1  Christiansburg           VA  ...       -81.532215      True
2        Columbus           OH  ...      -121.773297      True
4         Hickory           NC  ...      -121.503636      True

[4 rows x 9 columns]

In [0]:
#Our trucks will move from these destinations in the states for carrying the cargo to the destination.
final_trucks

                             truck          city  ...        lng  presence
4        Ibrahim Chimandalpharetta        Toledo  ... -83.555212      True
6       Macomb Iron Llchesterfield     Cleveland  ... -81.694361      True
16  Paul J Krez Companyorton Grove   Forest City  ... -81.865103      True
24         Ricardo Juradoacramento    Covesville  ... -78.704740      True
27    Kjellberg'S Carpet Oneuffalo  Mount Vernon  ... -82.485718      True
37       Efrain Morales Diazorwalk    Marshfield  ... -92.907121      True

[6 rows x 6 columns]

In [0]:
#Get the latitude and longitude to calculate the distance between the cargo source and cargo destination
slat = final_cargo['origin_lat'].tolist()
slng = final_cargo['origin_lng'].tolist()
dlat = final_cargo['destination_lat'].tolist() 
dlng = final_cargo['destination_lng'].tolist()
print("Origin Lats : ",slat)
print("Origin Longs : ",slng)
print("Destination Lats : ",dlat)
print("Destination Longs : ",dlng)

Origin Lats :  [36.876719, 37.1298517, 39.9611755, 35.7344538]
Origin Longs :  [-89.5878579, -80.40893890000001, -82.99879419999998, -81.3444573]
Destination Lats :  [32.9342919, 28.6934076, 38.67851570000001, 43.67039949999999]
Destination Longs :  [-97.07806540000001, -81.53221490000001, -121.7732971, -121.50363600000001]

In [0]:
#Calculate the cargo distances from source to destination
#Function to calculate the distance given latitude and longitude data 
import geopy
from geopy.distance import geodesic
def cal_dist(slat,slng,dlat,dlng):
  source = (slat,slng)
  dest = (dlat,dlng)
  dist = geodesic(source,dest).km
  return dist

In [0]:
#Calculating the distance between source and destination in cargo and store in other columns
distance = []
for slat1,slng1,dlat1,dlng1 in zip(slat,slng,dlat,dlng):
  dist = cal_dist(slat1,slng1,dlat1,dlng1)
  distance.append(dist)

  # print(slat1)
  # print(slng1)
  # print(dlat1)
  # print(dlng1)
  # print("Distance : ",dist)
  # print("\n\n")

In [0]:
#Adding the distance values from source to destination as a column in the existing dataframe copy
final_cargo1 = final_cargo.copy()
final_cargo1['Distance_Cargo_Source_Destination'] = distance
final_cargo1

      origin_city origin_state  ...  presence  Distance_Cargo_Source_Destination
0        Sikeston           MO  ...      True                         811.929431
1  Christiansburg           VA  ...      True                         941.491102
2        Columbus           OH  ...      True                        3320.287177
4         Hickory           NC  ...      True                        3518.201257

[4 rows x 10 columns]

In [0]:
#Just printing the trucks data and renaming the columns
final_trucks = final_trucks.rename(columns={'city':'truck_city','state':'truck_state','lat':'truck_lat','lng':'truck_lng'})
final_trucks

                             truck    truck_city  ...  truck_lng  presence
4        Ibrahim Chimandalpharetta        Toledo  ... -83.555212      True
6       Macomb Iron Llchesterfield     Cleveland  ... -81.694361      True
16  Paul J Krez Companyorton Grove   Forest City  ... -81.865103      True
24         Ricardo Juradoacramento    Covesville  ... -78.704740      True
27    Kjellberg'S Carpet Oneuffalo  Mount Vernon  ... -82.485718      True
37       Efrain Morales Diazorwalk    Marshfield  ... -92.907121      True

[6 rows x 6 columns]

In [0]:
#Combine the truck data
data = final_trucks.merge(final_cargo1,right_on=final_cargo1.origin_state,left_on=final_trucks.truck_state)
data

  key_0  ... Distance_Cargo_Source_Destination
0    OH  ...                       3320.287177
1    OH  ...                       3320.287177
2    OH  ...                       3320.287177
3    NC  ...                       3518.201257
4    VA  ...                        941.491102
5    MO  ...                        811.929431

[6 rows x 17 columns]

In [0]:
#Calculate the distance between the truck origin and cargo origin
tlat =  data['truck_lat'].tolist()
tlng =  data['truck_lng'].tolist()
colat = data['origin_lat'].tolist() 
colng = data['origin_lng'].tolist()

In [0]:
distancetcity2corg = []
# type(slat)
for tlat1,tlng1,colat1,colng1 in zip(tlat,tlng,colat,colng):
  dist = cal_dist(tlat1,tlng1,colat1,colng1)
  print(tlat1,tlng1,colat1,colng1)
  print(dist)
  print("\n\n")
  distancetcity2corg.append(dist)

41.6639383 -83.55521200000003 39.9611755 -82.99879419999998
194.8316273089435



41.499320000000004 -81.6943605 39.9611755 -82.99879419999998
203.26352121734055



40.3933956 -82.4857181 39.9611755 -82.99879419999998
64.90743181300503



35.334010799999994 -81.86510279999999 35.7344538 -81.3444573
64.83406337274754



37.8901411 -78.70474010000002 37.1298517 -80.40893890000001
172.6894216535504



37.338658 -92.90712090000001 36.876719 -89.5878579
299.43990800112874

In [0]:
#Now add the truck origin to cargo origin distance in the dataframe
final_data = data.copy()
final_data['Distance_truck_to_cargo_origin'] = distancetcity2corg
final_data

  key_0  ... Distance_truck_to_cargo_origin
0    OH  ...                     194.831627
1    OH  ...                     203.263521
2    OH  ...                      64.907432
3    NC  ...                      64.834063
4    VA  ...                     172.689422
5    MO  ...                     299.439908

[6 rows x 18 columns]

In [0]:
#Calculate the total distance
final_data['Total_Distance'] = final_data['Distance_Cargo_Source_Destination'] + final_data['Distance_truck_to_cargo_origin']
final_data

  key_0  ... Total_Distance
0    OH  ...    3515.118804
1    OH  ...    3523.550698
2    OH  ...    3385.194609
3    NC  ...    3583.035320
4    VA  ...    1114.180523
5    MO  ...    1111.369339

[6 rows x 19 columns]

In [0]:
final_data.columns

Index(['key_0', 'truck', 'truck_city', 'truck_state', 'truck_lat', 'truck_lng',
       'presence_x', 'origin_city', 'origin_state', 'origin_lat', 'origin_lng',
       'destination_city', 'destination_state', 'destination_lat',
       'destination_lng', 'presence_y', 'Distance_Cargo_Source_Destination',
       'Distance_truck_to_cargo_origin', 'Total_Distance'],
      dtype='object')

In [0]:
 #Group the distance data by Origin State and find the minimum distance

min_dist = final_data.groupby(['origin_state'])['Total_Distance'].agg()
min_dist.head(10)

origin_state
MO    1111.369339
NC    3583.035320
OH    3385.194609
VA    1114.180523
Name: Total_Distance, dtype: float64

In [0]:
indexmin = final_data.groupby(['origin_state'])['Total_Distance'].idxmin()
indexmin

origin_state
MO    5
NC    3
OH    2
VA    4
Name: Total_Distance, dtype: int64

In [0]:
final_data.loc[[2,3,4,5],:]

  key_0  ... Total_Distance
2    OH  ...    3385.194609
3    NC  ...    3583.035320
4    VA  ...    1114.180523
5    MO  ...    1111.369339

[4 rows x 19 columns]

**Code Ends Here **

In [0]:
#Testing Code Downwards

In [0]:
# import geopy
# from geopy.distance import geodesic

In [0]:
# #View the combined data
# combined_truck_cargo_details

In [0]:
# !pip install geopy

In [0]:
# #Find the ditance between each source and destination latitude and longitude
# import geopy
# from geopy.distance import geodesic
# from geopy.distance import great_circle

# def distance_measure(source,destination):
#   source = (source_lat,source_long)
#   dest = (dest_lat,dest_long)
#   dist = geodesic(source,dest).km
#   return dist

In [0]:
# origin_states = cargos['origin_city']
# # cargos[cargos['origin_state']=='MO']

In [0]:
# for data in origin_states:
#   print(data)

In [0]:
# cargos[['origin_city','origin_state']]

In [0]:
# cargos.shape

In [0]:
# trucks.shape

In [0]:
# cargos[['destination_city','destination_state']]

In [0]:
# !pip install geopy

In [0]:
# #Geodesic distance :- Length of the shortest path between 2 points on any surface.
# #Calculating the geodesic distance from latitude-longitude data
# from geopy.distance import geodesic
# #Loading the lat-long data for kolkata and delhi
# kolkata=(22.5726, 88.3639) 
# delhi = (28.7041, 77.1025) 
# #Print the distance calculated in KMs
# print(geodesic(kolkata,delhi).km)

In [0]:
# #Great Circle Distance
# #It is the length of the shortest path between 2 points on a sphere. In this case the earth is assumed to be a perfect sphere.
# from geopy.distance import great_circle
# kolkata=(22.5726, 88.3639) 
# delhi = (28.7041, 77.1025) 
# #Print the distance calculated in KMs
# print(great_circle(kolkata,delhi).km)

In [0]:
# cargos.columns

In [0]:
# #Calculate the distance between origin and all the destinatio
# origin_coord = cargos[['origin_city','origin_lat','origin_lng']]
# origin_coord

In [0]:
# cargos.columns

In [0]:
# dest_coord = cargos[['destination_city','destination_lat','destination_lng']]

In [0]:
# dest_coord

In [0]:
# for data in origin_coord:
#   print(data)

In [0]:
# coord_df = pd.concat([origin_coord,dest_coord],axis=1)
# coord_df

In [0]:
# from geopy.distance import geodesic
# def cal_distance(source_lat,source_long,dest_lat,dest_long):
#   source = (source_lat,source_long)
#   dest = (dest_lat,dest_long)
#   dist = geodesic(source,dest).km
#   return dist

In [0]:
# # distance1 = cal_distance(22.5726, 88.3639,28.7041, 77.1025)
# distance2 = cal_distance(36.876719,-89.587858 ,32.934292,-97.078065)
# print("Distance is : ", distance1)
# print("Distance is : ", distance2)

In [0]:
# coord_df.columns

In [0]:
# # for ocity,olat,olong,dcity,dlang,dlat in coord_df.iterrows():
# #   print(ocity,olat,olong,dcity,dlang,dlat)
# for i , rows in coord_df.iterrows():
#   print("Index is  : ", i)
#   print('Row values are :\n ',rows[1],rows[2],rows[4],rows[5])

In [0]:
# coord_df

In [0]:
# trucks

In [0]:
# trucks.columns

In [0]:
# trucks

In [0]:
# for ocity,olat,olong,dcity,dlat,dlong in coord_df.itertuples():
#   print(ocity,"\t",olat,"\t",olong,"\t",dcity,"\t",dlat,"\t",dlong)

In [0]:
# coord_df['Distance']=cal_distance(coord_df['origin_lat'],coord_df['origin_lng'],coord_df['destination_lat'],coord_df['destination_lng'])

In [0]:
# trucks1.head()